.top-form{
    -fx-background-color: #ffff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}
.nav-form{
    -fx-background-color: linear-gradient(to bottom right,#4f937a,#6e2732);
}